flask
flask-login
flask-sqlalchemy
google-genai
gunicorn
pillow
pytesseract
python-dotenv
requests
werkzeug
flask
flask-login
flask-sqlalchemy
google-genai
gunicorn
pillow
pytesseract
python-dotenv
requests
werkzeug
